//- Expanded version of summary.jade


.row
  ol.breadcrumb
    li: a(href='#/', translate='A.HOME')
    li: a(href='#/acciones', translate='A.ACTIONS')
    li # {{a.id}}


.row
  .col-xs-12
    .row
      .col-xs-12
        h4(translate='A.TOTAL')
        h3.budget {{a.budget_breakthrough | currency}}
    
    .row
      .col-xs-12
        progress.progress-bar-por-ejercer
          bar(
            ng-repeat='bar in stacked track by $index'
            type='{{bar.type}}'
            value='bar.value'
          ): span(ng-hide='bar.value < 10') {{bar.value}}%
        
    include ../$legend
    
    .row
      .col-xs-12      
        h4(translate='A.PROGRESS')
        
      .col-xs-6
        progressbar(
          type='{{progressType(benefs)}}'
          value='benefs'
        )
        
        .footnote
          span.footnote-label {{a.real_beneficiaries | number:0}} {{'A.OF' | translate}} {{a.total_of_beneficiaries | number:0}}
          
          button.btn.btn-xs.btn-link(
            ng-click='ask("benefs")'
            type='button'
          )
            fa(name='pencil')
            |  {{'A.REGISTER' | translate}}

      .col-xs-6        
        progressbar(
          type='{{progressType(goals)}}'
          value='goals'
        )

        .footnote
          span.footnote-label {{a.completed_goals | number:0}} {{'A.OF' | translate}} {{a.quantity | number:0}}
          
          button.btn.btn-xs.btn-link(
            ng-click='ask("goals")'
            type='button'
          )
            fa(name='pencil')
            |  {{'A.REGISTER' | translate}}

  .col-xs-12
    .row.description-info
      .col-xs-12
        hr
        h4(translate='A.ACTION')
        p {{a.action}}
    
    .row
      .col-xs-12
        h4(translate='A.DESCRIPTION')
    
    .row.minh
      .col-xs-12
        p {{a.description}}
