//- Card version of detaiils.jade


extends $layout

block title
  .col-xs-10
    h3(translate='SUMMARY')


block action
  a.btn.btn-primary.btn-sm(href="#/acciones/{{a.id}}")
    fa(name='chevron-circle-right')
    | {{'DETAILS' | translate}}


block content
  .col-md-6
    .progress-info
      h6(translate='TOTAL')
      h3 {{a.budget_breakthrough | currency}}
    
    .budget-info
      progress.progress-bar-por-ejercer
        bar(
          ng-repeat='bar in stacked track by $index'
          type='{{bar.type}}'
          value='bar.value'
        ): span(ng-hide='bar.value < 10') {{bar.value}}%
        
    include ../$legend
    
    .goals-info
      h6(translate='PROGRESS')
      progressbar(
        type='{{progressType(benefs)}}'
        value='benefs'
      )
      
      .footnote
        span.footnote-label {{a.real_beneficiaries | number:0}} {{'OF' | translate}} {{a.total_of_beneficiaries | number:0}}
        
        button.btn.btn-xs.btn-link(
          ng-click='ask("benefs")'
          type='button'
        )
          fa(name='pencil')
          |  {{'REGISTER' | translate}}
      
      progressbar(
        type='{{progressType(goals)}}'
        value='goals'
      )

      .footnote
        span.footnote-label {{a.completed_goals | number:0}} {{'OF' | translate}} {{a.quantity | number:0}}
        
        button.btn.btn-xs.btn-link(
          ng-click='ask("goals")'
          type='button'
        )
          fa(name='pencil')
          |  {{'REGISTER' | translate}}


  .col-md-6.description-info
    .action-info
      h6(translate='ACTION')
      p {{a.action}}
    
    .action-info
      h6(translate='DESCRIPTION')
    
    .row
      .col-md-12.more
        p {{a.description | limitTo:350}}
          span(ng-if='a.description.length > 350') …
        
      //- button.btn.btn-link.pull-right(
        |    ng-click='openModal()'
        |    type='button'
        |  ) {{'DETAILS' | translate}}
        |    i.fa.fa-arrow-right
