.panel.order-by
  .row
    .col-xs-5
      span.small Ordenar avances por 
      
      .btn-group
        button.btn.btn-sm.btn-default(btn-radio="'budget_breakthrough'", ng-model='orderBy') Presupuesto
        button.btn.btn-sm.btn-default(btn-radio="'completed_goals'", ng-model='orderBy')  Metas
        button.btn.btn-sm.btn-default(btn-radio="'total_of_beneficiaries'", ng-model='orderBy') Beneficiarios 

    .col-xs-5
      pagination.pagination-sm(
        boundary-links=true
        items-per-page='pagination.per_page'
        max-size=4
        next-text='»'
        ng-change='pageChanged()'
        ng-model='pagination.page'
        previous-text='«'
        rotate=false
        total-items='pagination.total / pagination.per_page'
      )    
    
    .col-xs-2
      .btn-group
        button.btn.btn-sm.btn-default(
          btn-radio="'collapsed'"
          ng-model='displayMode'
        ): i.glyphicon.glyphicon-minus
        
        button.btn.btn-sm.btn-default(
          btn-radio="'expanded'"
          ng-model='displayMode'
        ): i.glyphicon.glyphicon-plus
