.panel.pages
  .row
    .col-xs-12
      pagination.pagination-sm(
        boundary-links=true
        items-per-page='$data.pagination.per_page'
        max-size=15
        next-text='»'
        ng-change='pageChanged()'
        ng-model='$data.pagination.page'
        previous-text='«'
        rotate=false
        total-items='$data.pagination.total / $data.pagination.per_page'
      )    
