.panel.pages
  .row
    .col-xs-12
      pagination.pagination-sm(
        boundary-links=true
        items-per-page='D.pagination.per_page'
        max-size=15
        next-text='»'
        ng-change='pageChanged()'
        ng-model='D.pagination.page'
        previous-text='«'
        rotate=false
        total-items='D.pagination.total / D.pagination.per_page'
      )    
