.row.tools
  .col-xs-12
    button.btn.btn-primary.btn-md(type='button', ng-click='') Reprogramar
    button.btn.btn-primary.btn-md(type='button', ng-click='') Enviar informe


.row.search
  .col-xs-12
    .input-group
      input.form-control(type='text')

      .input-group-btn
        // FIXME missing assignment
        button.btn.btn-default(
          ng-click=''
          type='button'
        ) {{fullSearch? 'Filtrar por' : 'Buscar'}}

        button.btn.btn-default(
          ng-click='fullSearch = !fullSearch'
          type='button'
        )
          fa(name='{{ fullSearch? "chevron-up" : "chevron-down" }}')
          span.sr-only


mixin search-filter(label)
  button.btn.btn-xs.btn-default.dropdown-toggle(
    aria-expanded="false"
    data-toggle="dropdown"
    type="button"
  )
    |= label
    fa.pull-right(name='caret-down')


.row.filters(ng-show="fullSearch")
  .col-xs-3
    +search-filter('Entidad')
    
  .col-xs-3
    +search-filter('Municipio')

  .col-xs-3
    +search-filter('Polígono')

  .col-xs-3
    +search-filter('Status')
