.panel.header(ng-show='displayMode == "collapsed"')
  include $header

accordion(close-others='single')
  accordion-group(
    id='a{{activity.id}}'
    ng-repeat='activity in activities | orderBy:orderBy'
    is-open='activity.isOpen'
    is-disabled='activity.isOpen'
  )
    accordion-heading
      .row(ng-click='hideHeader(activity.id)')
        .col-xs-2: strong {{activity.user_key}}
        
        .col-xs-2: span.small.upper {{activity.admin2 | limitTo:20}}
        
        .col-xs-2: span.small.upper {{activity.admin1 | limitTo:20}}
        
        .col-xs-1: span.small {{activity.quantity}}
        
        .col-xs-1
          progressbar.small(
            max='activity.total_cost'
            popover='Presupuesto'
            popover-placement='bottom'
            popover-title='Presupuesto'
            popover-trigger='mouseenter'
            type='{{progressType((activity.budget_breakthrough * activity.total_cost) / 100)}}'
            value='(activity.budget_breakthrough * activity.total_cost) / 100'
          )
        
        .col-xs-1
          progressbar.small(
            max='activity.goal_number'
            popover='Metas'
            popover-placement='bottom'
            popover-title='Metas'
            popover-trigger='mouseenter'
            type='{{progressType((activity.completed_goals * activity.goal_number) / 100)}}'
            value='(activity.completed_goals * activity.goal_number) / 100'
          )
        
        .col-xs-1
          progressbar.small(
            max='activity.total_of_beneficiaries'
            popover='Beneficiarios'
            popover-placement='bottom'
            popover-title='Beneficiarios'
            popover-trigger='mouseenter'
            type='{{progressType((activity.real_beneficiaries * activity.total_of_beneficiaries) / 100)}}'
            value='(activity.real_beneficiaries * activity.total_of_beneficiaries) / 100'
          )
        
        .col-xs-2
          a.btn.btn-link.btn-xs(
            ng-click="enableTab(activity.id, 2)"
            tooltip="Contratos/Facturas"
            tooltip-placement="left"
            tooltip-trigger
          ): .opi-achievement-alt
              
          a.btn.btn-link.btn-xs(
            ng-click="enableTab(activity.id, 3)"
            tooltip="Evidencia"
            tooltip-placement="left"
            tooltip-trigger
          ): .opi-add-file
          
          a.btn.btn-link.btn-xs(
            ng-click="enableTab(activity.id, 4)"
            tooltip="Cambios"
            tooltip-placement="left"
            tooltip-trigger
          ): .opi-eye

          a.btn.btn-link.btn-xs(
            ng-click="enableTab(activity.id, 5)"
            tooltip="Calendario"
            tooltip-placement="left"
            tooltip-trigger
          ): .opi-calendar

    //-
      | .btn-group
      | button.btn.btn-xs.btn-primary(type='button', ng-click='randomStacked()') Randomizar
      | button.btn.btn-xs.btn-default(type='button', ng-click='zoom(activity.id)') fullScreen

    include cards/$title
    
    hr

    tabset.tab-animation
      tab.btn.btn-default
        tab-heading
          i.glyphicon.glyphicon-info-sign
          | Resumen
          
        include cards/descripcion
        
      tab.btn.btn-default
        tab-heading
          i.glyphicon.glyphicon-certificate
          | Contratos / Facturas
      
        include cards/facturas
      
      tab.btn.btn-default
        tab-heading
          i.glyphicon.glyphicon-paperclip
          | Evidencia
        
        include cards/evidencia
      
      tab.btn.btn-default
        tab-heading
          i.glyphicon.glyphicon-th-list
          | Resumen de cambios
      
        include cards/cambios
      
      tab.btn.btn-default
        tab-heading
          i.glyphicon.glyphicon-calendar
          | Calendario
      
        include cards/calendario
