.header(ng-show='displayMode == "compact"')
  include ./header.jade

accordion(close-others='single')
  accordion-group(
    id='a{{activity.id}}'
    ng-repeat='activity in activities'
    is-open='activity.isOpen'
    is-disabled='activity.isOpen'
  )
    accordion-heading
      .row(ng-hide='$parent.isOpen && !$parent.expanded')
        .col-xs-3 {{activity.user_key}}
        
        .col-xs-2 Municipio
        
        .col-xs-1 Entidad
        
        .col-xs-1 Polígono
        
        .col-xs-1
          progressbar.small(
            animate='false'
            max='activity.total_cost'
            type='{{progressType((activity.budget_breakthrough * activity.total_cost) / 100)}}'
            value='(activity.budget_breakthrough * activity.total_cost) / 100'
          )
        
        .col-xs-1
          progressbar.small(
            animate='false'
            max='activity.goal_number'
            type='{{progressType((activity.completed_goals * activity.goal_number) / 100)}}'
            value='(activity.completed_goals * activity.goal_number) / 100'
          )
        
        .col-xs-1
          progressbar.small(
            animate='false'
            value='(activity.real_beneficiaries * activity.total_of_beneficiaries) / 100'
            max='activity.total_of_beneficiaries'
            type='{{progressType((activity.real_beneficiaries * activity.total_of_beneficiaries) / 100)}}'
          )
        
        .col-xs-2
          a.btn.btn-link.btn-xs(
            ng-click="enableTab(activity.id, 2)"
            tooltip="Contratos/Facturas"
            tooltip-placement="left"
            tooltip-trigger
          )
            i.glyphicon.glyphicon-certificate(ng-class="{'disabled': false}")
              
          a.btn.btn-link.btn-xs(
            ng-click="enableTab(activity.id, 3)"
            tooltip="Evidencia"
            tooltip-placement="left"
            tooltip-trigger
          )
            i.glyphicon.glyphicon-paperclip(ng-class="{'disabled': false}")
          
          a.btn.btn-link.btn-xs(
            ng-click="enableTab(activity.id, 4)"
            tooltip="Cambios"
            tooltip-placement="left"
            tooltip-trigger
          )
            i.glyphicon.glyphicon-th-list(ng-class="{'disabled': false}")

          a.btn.btn-link.btn-xs(
            ng-click="enableTab(activity.id, 5)"
            tooltip="Calendario"
            tooltip-placement="left"
            tooltip-trigger
          )
            i.glyphicon.glyphicon-calendar(ng-class="{'disabled': false}")

    //-
      | .btn-group
      | button.btn.btn-xs.btn-primary(type='button', ng-click='randomStacked()') Randomizar
      | button.btn.btn-xs.btn-default(type='button', ng-click='zoom(activity.id)') fullScreen

    tabset
      tab
        tab-heading
          i.glyphicon.glyphicon-info-sign
          | Descripción
          
        include ./cards/descripcion.jade
        
      tab
        tab-heading
          i.glyphicon.glyphicon-certificate
          | Contratos / Facturas
      
        include ./cards/facturas.jade
      
      tab
        tab-heading
          i.glyphicon.glyphicon-paperclip
          | Evidencia
        
        include ./cards/evidencia.jade
      
      tab
        tab-heading
          i.glyphicon.glyphicon-th-list
          | Resumen de cambios
      
        include ./cards/cambios.jade
      
      tab
        tab-heading
          i.glyphicon.glyphicon-calendar
          | Calendario
      
        include ./cards/calendario.jade
