include ./modal.jade

.container(
  ng-controller="ActivityCtrl"
  ng-class='{ expanded: expanded, zoomed: zoomed }'
)
  include ./tools.jade
  include ./dashboard.jade
  include ./header.jade
  include ./activity.jade

  pagination.pagination-sm(
    total-items='totalPages'
    ng-change='pageChanged()'
    ng-model='currentPage'
  )
