include ./modal/full.jade
include ./modal/upload.jade

.container(
  ng-controller="ActivityCtrl"
  ng-class='{ expanded: (displayMode == "expanded"), zoomed: zoomed }'
)
  include ./tools.jade
  include ./dashboard.jade
  include ./orderby.jade
  include ./activity.jade

  pagination.pagination-sm(
    total-items='totalPages'
    ng-change='pageChanged()'
    ng-model='currentPage'
  )
