include ./modal/full
include ./modal/upload

.container(
  ng-class='{ expanded: (displayMode == "expanded"), zoomed: zoomed }'
  ng-controller="ActivityCtrl"
)
  include ./_search
  include ./dashboard
  include ./_orderby
  include ./activity

  pagination.pagination-sm(
    boundary-links='true'
    max-size='25'
    ng-change='pageChanged()'
    ng-model='pagination.page'
    rotate='false'
    total-items='pagination.total / pagination.per_page'
  )
