include ./modal/full.jade
include ./modal/upload.jade

.container(
  ng-controller="ActivityCtrl"
  ng-class='{ expanded: (displayMode == "expanded"), zoomed: zoomed }'
)
  include ./tools.jade
  include ./dashboard.jade
  include ./orderby.jade
  include ./activity.jade

  pagination.pagination-sm(
    boundary-links='true'
    max-size='25'
    ng-change='pageChanged()'
    ng-model='pagination.page'
    rotate='false'
    total-items='pagination.total / pagination.per_page'
  )
