.container(
  ng-controller="AccordionCtrl"
  ng-class='{ zoomed : zoomed }'
)
  label.checkbox
    input(type='checkbox', ng-model='oneAtATime')
    |     Abrir un elemento a la vez
  
  accordion(close-others='oneAtATime', is-open='$parent.isOpen')
    accordion-group(
      id='a{{group.id}}'
      ng-repeat='group in groups'
      on-accordion-group-click="{{group.template}}"
    )
      accordion-heading
        .row
          .col-sm-3
            | {{group.user_key}}
          
          .col-sm-2(ng-hide='$parent.isOpen')
            progressbar.small(
              animate='false'
              max='group.total_cost'
              type='{{progressType((group.budget_breakthrough * group.total_cost) / 100)}}'
              value='(group.budget_breakthrough * group.total_cost) / 100'
            )
          
          .col-sm-2(ng-hide='$parent.isOpen')
            progressbar.small(
              animate='false'
              max='group.goal_number'
              type='{{progressType((group.completed_goals * group.goal_number) / 100)}}'
              value='(group.completed_goals * group.goal_number) / 100'
            )
          
          .col-sm-2(ng-hide='$parent.isOpen')
            progressbar.small(
              animate='false'
              value='(group.real_beneficiaries * group.total_of_beneficiaries) / 100'
              max='group.total_of_beneficiaries'
              type='{{progressType((group.real_beneficiaries * group.total_of_beneficiaries) / 100)}}'
            )
          
          .col-sm-3(ng-hide='$parent.isOpen')
            .btn-group
              a.btn.btn-link.btn-xs(tooltip="Pagos", tooltip-trigger, tooltip-placement="left")
                i.glyphicon.glyphicon-magnet(ng-class="{'disabled': !group.visits}")
                  
              a.btn.btn-link.btn-xs(tooltip="Observaciones", tooltip-trigger, tooltip-placement="left")
                i.glyphicon.glyphicon-eye-open(ng-class="{'disabled': !group.notes}")
              
              a.btn.btn-link.btn-xs(tooltip="Visitas", tooltip-trigger, tooltip-placement="left")
                i.glyphicon.glyphicon-usd(ng-class="{'disabled': (group.quantity < 1)}")


      .btn-group
        button.btn.btn-xs.btn-primary(type='button', ng-click='randomStacked()') Randomizar
        button.btn.btn-xs.btn-default(type='button', ng-click='zoom(group.id)') fullScreen

      tabset
        tab
          tab-heading
            i.glyphicon.glyphicon-info-sign
            | Descripción
          
          h3
            | {{group.user_key}} {{group.human_state_name}}
          
          h6
            | {{group.admin1}} / {{group.admin2}} / Polígono: {{group.polygon}}
          
          h6 PRESUPUESTO ASIGNADO
          
          h3 {{formatMoney(group.total_cost)}}

          progress
            bar(ng-repeat='bar in stacked track by $index', value='bar.value', type='{{bar.type}}')
              span(ng-hide='bar.value < 5') {{bar.value}}%

        tab
          tab-heading
            i.glyphicon.glyphicon-paperclip
            | Evidencia
        
        tab
          tab-heading
            i.glyphicon.glyphicon-certificate
            | Contrato Factura
        
        tab
          tab-heading
            i.glyphicon.glyphicon-list-alt
            | Registrar Avances
        
        tab
          tab-heading
            i.glyphicon.glyphicon-calendar
            | Calendarizar
        
        tab
          tab-heading
            i.glyphicon.glyphicon-ok
            | Validar
        
        tab
          tab-heading
            i.glyphicon.glyphicon-plus
            | Agregar Observación
