.container(
  ng-controller="AccordionCtrl"
  ng-class='{ expanded: expanded, zoomed: zoomed }'
)
  include ./dashboard.jade
  include ./header.jade
  
  accordion(close-others='single')
    accordion-group(id='a{{group.id}}', ng-repeat='group in groups', is-open='group.isOpen', is-disabled='group.isOpen')
      accordion-heading
        .row
          .col-xs-3
            | {{group.user_key}}
          
          .col-xs-1
            | Municipio
          
          .col-xs-1
            | Entidad
          
          .col-xs-1
            | Polígono
          
          .col-xs-1(ng-hide='$parent.isOpen && !$parent.expanded')
            progressbar.small(
              animate='false'
              max='group.total_cost'
              type='{{progressType((group.budget_breakthrough * group.total_cost) / 100)}}'
              value='(group.budget_breakthrough * group.total_cost) / 100'
            )
          
          .col-xs-1(ng-hide='$parent.isOpen && !$parent.expanded')
            progressbar.small(
              animate='false'
              max='group.goal_number'
              type='{{progressType((group.completed_goals * group.goal_number) / 100)}}'
              value='(group.completed_goals * group.goal_number) / 100'
            )
          
          .col-xs-1(ng-hide='$parent.isOpen && !$parent.expanded')
            progressbar.small(
              animate='false'
              value='(group.real_beneficiaries * group.total_of_beneficiaries) / 100'
              max='group.total_of_beneficiaries'
              type='{{progressType((group.real_beneficiaries * group.total_of_beneficiaries) / 100)}}'
            )
          
          .col-xs-1
          
          .col-xs-2(ng-hide='$parent.isOpen && !$parent.expanded')
            .btn-group
              a.btn.btn-link.btn-xs(tooltip="Pagos", tooltip-trigger, tooltip-placement="left")
                i.glyphicon.glyphicon-usd(ng-class="{'disabled': (group.quantity < 1)}")
                  
              a.btn.btn-link.btn-xs(tooltip="Observaciones", tooltip-trigger, tooltip-placement="left")
                i.glyphicon.glyphicon-eye-open(ng-class="{'disabled': !group.notes}")
              
              a.btn.btn-link.btn-xs(tooltip="Visitas", tooltip-trigger, tooltip-placement="left")
                i.glyphicon.glyphicon-magnet(ng-class="{'disabled': !group.visits}")

      //-
        | .btn-group
        | button.btn.btn-xs.btn-primary(type='button', ng-click='randomStacked()') Randomizar
        | button.btn.btn-xs.btn-default(type='button', ng-click='zoom(group.id)') fullScreen

      tabset
        tab
          tab-heading
            i.glyphicon.glyphicon-info-sign
            | Descripción
            
          include ./cards/descripcion.jade
          
        tab
          tab-heading
            i.glyphicon.glyphicon-paperclip
            | Evidencia
        
          include ./cards/evidencia.jade
        
        tab
          tab-heading
            i.glyphicon.glyphicon-certificate
            | Contrato Factura
          
          include ./cards/factura.jade
        
        tab
          tab-heading
            i.glyphicon.glyphicon-list-alt
            | Registrar Avances
          
          include ./cards/avances.jade
        
        tab
          tab-heading
            i.glyphicon.glyphicon-calendar
            | Calendarizar
        
          include ./cards/calendarizar.jade
        
        tab
          tab-heading
            i.glyphicon.glyphicon-ok
            | Validar
        
          include ./cards/validar.jade
        
        tab
          tab-heading
            i.glyphicon.glyphicon-plus
            | Agregar Observación
          
          include ./cards/observaciones.jade
