//- Main menu bar

nav.navbar.navbar-default.navbar-fixed-top(ng-controller='NavbarCtrl')
  .navbar-inner.normal
    .container
      .navbar-header
        button.navbar-toggle.collapsed(
          ng-click='collapsed = !collapsed'
          type='button'
        )
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar

        a.navbar-brand(href='#/')
          include ../assets/img/logo.svg

      .collapse.navbar-collapse(collapse='collapsed')
        ul#nav-links.nav.navbar-nav(role='menu')
          li(
            ng-class='{active: isActive("/panel")}'
            role='presentation'
          )
            a.upper(href='#/panel')
              fa(name='tachometer')
              | Panel de control

          li(
            ng-class='{active: isActive("/acciones")}'
            role='presentation'
          )
            a.upper(href='#/acciones')
              fa(name='flag-checkered')
              | Acciones

          li(
            ng-class='{active: isActive("/archivos")}'
            role='presentation'
          )
            a.upper(href='#/archivos')
              fa(name='folder-o')
              | Archivos

        ul#nav-settings.nav.navbar-nav.navbar-right(role='menu')
          li.dropdown(role='menu')
            a.dropdown-toggle(
              data-toggle='dropdown'
              href='#'
              role='button'
              aria-expanded=false
            ): fa(name='gear', size=2)

            ul.dropdown-menu(role='menu')
              li: a(href='#') Imprimir
              li: a(href='#') Pantalla completa
              li: a(ng-click='sync(true)') Actualizar
        //-
          li.divider-vertical

          li
            a(href='#') Reprogramar

          li
            a(href='#') Enviar informe

        //- form.navbar-form.navbar-right(role='search')
          .form-group
            .input-group
              input.form-control(placeholder='Buscar', type='text')
              .input-group-btn
                button.btn.btn-info(type='button')
                  fa(name='search')

      .header.toggle.hidden
        include activities/$header
