.row.tools
  .col-xs-12
    button.btn.btn-primary.btn-md(type='button', ng-click='') Reprogramar
    button.btn.btn-primary.btn-md(type='button', ng-click='') Enviar informe

.row.search
  .col-xs-12
    .input-group
      input.form-control(type='text')

      .input-group-btn
        button.btn.btn-default(type='button', ng-click='') Buscar
        button.btn.btn-default(type='button', ng-click='fullSearch = !fullSearch')
          span.glyphicon(ng-class='{"glyphicon-chevron-up": fullSearch, "glyphicon-chevron-down": !fullSearch}')
          span.sr-only

.row.filters(ng-show='fullSearch')
  .col-xs-3
    button.btn.btn-xs.btn-default.dropdown-toggle(
      aria-expanded="false"
      data-toggle="dropdown"
      type="button"
    )
      | Entidad
      i.glyphicon.glyphicon-chevron-down.pull-right

  .col-xs-3
    button.btn.btn-xs.btn-default.dropdown-toggle(
      aria-expanded="false"
      data-toggle="dropdown"
      type="button"
    )
      | Municipio
      i.glyphicon.glyphicon-chevron-down.pull-right

  .col-xs-3
    button.btn.btn-xs.btn-default.dropdown-toggle(
      aria-expanded="false"
      data-toggle="dropdown"
      type="button"
    )
      | Polígono
      i.glyphicon.glyphicon-chevron-down.pull-right

  .col-xs-3
    button.btn.btn-xs.btn-default.dropdown-toggle(
      aria-expanded="false"
      data-toggle="dropdown"
      type="button"
    )
      | Status
      i.glyphicon.glyphicon-chevron-down.pull-right
