//- "Add new date" dialog


script(type='text/ng-template', id='date.html')
  .modal-header
    button.close(type='button', data-dismiss='modal')
      span(aria-hidden='true') &times;
      span.sr-only(translate='CLOSE')
  
    h4.modal-title(translate='DATE')


  .modal-body
    form(role='form')
      .row
        .col-xs-6
          input.form-control(
            name='date'
            type='date'
          )

        .col-xs-6
          input.form-control(
            name='description'
            placeholder='{{ "DESCRIPTION" | translate }}'
            type='text'
          )


  .modal-footer
    button.btn.btn-success(
      disabled
      data-dismiss='modal'
      type='button'
    )
      fa(name='check-circle')
      span(translate='SAVE')
    
    button.btn.btn-danger(
      data-dismiss='modal'
      type='button'
    )
      fa(name='times-circle')
      span(translate='CANCEL')
