//- Accordion for main activities view


mixin bar(max, label, value)
  progressbar.small(
    max=max
    popover='{{ #{label} | translate }}'
    popover-placement='bottom'
    popover-trigger='mouseenter'
    type='{{progressType(value)}}'
    value=value
  )


mixin btn(tab, label, opicon)
  a.btn.btn-link.btn-xs(
    ng-click='enableTab(a.id, #{tab})'
    popover='{{ #{label} | translate }}'
    popover-placement='left'
    popover-trigger='mouseenter'
  )
    i(class=opicon)


accordion(close-others='single')
  accordion-group(
    id='a{{a.id}}'
    is-disabled='a.isOpen'
    is-open='a.isOpen'
    ng-repeat='a in $data.activities | orderBy:sort.by:sort.reverse'
  )
    accordion-heading
      .row(ng-click='hideHeader(a.id)')
        .col-xs-2: strong {{a.user_key}}
        .col-xs-2: span.small.upper {{a.admin2 | limitTo:20}}
        .col-xs-2: span.small.upper {{a.admin1 | limitTo:20}}
        .col-xs-1: span.small {{a.quantity}}
        
        .col-xs-1
          +bar('a.total_cost', '"BUDGET"', '(a.budget_breakthrough * a.total_cost) / 100')
        
        .col-xs-1
          +bar('a.goal_number', '"GOALS"', '(a.completed_goals * a.goal_number) / 100')
        
        .col-xs-1
          +bar('a.total_of_beneficiaries', '"BENEFS"', '(a.real_beneficiaries * a.total_of_beneficiaries) / 100')
        
        .col-xs-2
          +btn(2, '"INVOICES"', 'opi-achievement-alt')
          +btn(3, '"EVIDENCE"', 'opi-add-file')
          +btn(4, '"CHANGELOG"', 'opi-eye')
          +btn(5, '"CALENDAR"', 'opi-calendar')

    //-
      | .btn-group
      | button.btn.btn-xs.btn-primary(type='button', ng-click='randomStacked()') Randomizar
      | button.btn.btn-xs.btn-default(type='button', ng-click='zoom(a.id)') fullScreen

    include cards/$title
    
    hr

    tabset.tab-animation
      tab.btn.btn-default
        tab-heading
          fa(name='info-circle')
          span(translate='SUMMARY')

        include cards/summary

      tab.btn.btn-default
        tab-heading
          fa(name='certificate')
          span(translate='INVOICES')
        
        include cards/invoices

      tab.btn.btn-default
        tab-heading
          fa(name='paperclip')
          span(translate='EVIDENCE')
      
        include cards/evidence

      tab.btn.btn-default
        tab-heading
          fa(name='list-alt')
          span(translate='CHANGELOG')
      
        include cards/changelog

      tab.btn.btn-default
        tab-heading
          fa(name='calendar')
          span(translate='CALENDAR')
      
        include cards/calendar
