//- Accordion for main activities view


accordion(close-others='single')
  accordion-group(
    id='a{{a.id}}'
    is-disabled='a.isOpen'
    is-open='a.isOpen'
    ng-repeat='a in $data.activities | orderBy:sort.by:sort.reverse'
  )
    accordion-heading
      .row(ng-click='hideHeader(a.id)')
        .col-xs-2: strong {{a.user_key}}
        
        .col-xs-2: span.small.upper {{a.admin2 | limitTo:20}}
        
        .col-xs-2: span.small.upper {{a.admin1 | limitTo:20}}
        
        .col-xs-1: span.small {{a.quantity}}
        
        .col-xs-1
          progressbar.small(
            max='a.total_cost'
            popover='Presupuesto'
            popover-placement='bottom'
            popover-trigger='mouseenter'
            type='{{progressType((a.budget_breakthrough * a.total_cost) / 100)}}'
            value='(a.budget_breakthrough * a.total_cost) / 100'
          )
        
        .col-xs-1
          progressbar.small(
            max='a.goal_number'
            popover='Metas'
            popover-placement='bottom'
            popover-trigger='mouseenter'
            type='{{progressType((a.completed_goals * a.goal_number) / 100)}}'
            value='(a.completed_goals * a.goal_number) / 100'
          )
        
        .col-xs-1
          progressbar.small(
            max='a.total_of_beneficiaries'
            popover='Beneficiarios'
            popover-placement='bottom'
            popover-trigger='mouseenter'
            type='{{progressType((a.real_beneficiaries * a.total_of_beneficiaries) / 100)}}'
            value='(a.real_beneficiaries * a.total_of_beneficiaries) / 100'
          )
        
        .col-xs-2
          a.btn.btn-link.btn-xs(
            ng-click='enableTab(a.id, 2)'
            tooltip='Contratos/Facturas'
            tooltip-placement='left'
            tooltip-trigger
          ): .opi-achievement-alt
              
          a.btn.btn-link.btn-xs(
            ng-click='enableTab(a.id, 3)'
            tooltip='Evidencia'
            tooltip-placement='left'
            tooltip-trigger
          ): .opi-add-file
          
          a.btn.btn-link.btn-xs(
            ng-click='enableTab(a.id, 4)'
            tooltip='Cambios'
            tooltip-placement='left'
            tooltip-trigger
          ): .opi-eye

          a.btn.btn-link.btn-xs(
            ng-click='enableTab(a.id, 5)'
            tooltip='Calendario'
            tooltip-placement='left'
            tooltip-trigger
          ): .opi-calendar

    //-
      | .btn-group
      | button.btn.btn-xs.btn-primary(type='button', ng-click='randomStacked()') Randomizar
      | button.btn.btn-xs.btn-default(type='button', ng-click='zoom(a.id)') fullScreen

    include cards/$title
    
    hr

    tabset.tab-animation
      tab.btn.btn-default
        tab-heading
          fa(name='info-circle')
          span(translate='SUMMARY')
          
        include cards/summary
        
      tab.btn.btn-default
        tab-heading
          fa(name='certificate')
          span(translate='INVOICES')
      
        include cards/invoices
      
      tab.btn.btn-default
        tab-heading
          fa(name='paperclip')
          span(translate='EVIDENCE')
        
        include cards/evidence
      
      tab.btn.btn-default
        tab-heading
          fa(name='list-alt')
          span(translate='CHANGELOG')
      
        include cards/changelog
      
      tab.btn.btn-default
        tab-heading
          fa(name='calendar')
          span(translate='CALENDAR')
      
        include cards/calendar
