//- Full calendar view

extends cards/$layout

mixin card-cal-btn-grp(label, view)
  button.btn.btn-default.btn-sm(
    type='button'
    btn-radio="'#{view}'"
    ng-click="changeCal('changeView', '#{view}')"
    ng-model='calView'
  )
    span(translate=label)


mixin card-cal-btn(label, command)
  button.btn.btn-default.btn-sm(
    ng-click="changeCal('#{command}')"
    translate=label
    type='button'
  )


block title
  .col-xs-3
    h3(translate='CALENDAR')

  .col-xs-7.nopad
    .btn-toolbar.pull-right
      .btn-group
        +card-cal-btn-grp('DAILY', 'agendaDay')
        +card-cal-btn-grp('WEEKLY', 'basicWeek')
        +card-cal-btn-grp('MONTHLY', 'month')

      .btn-group
        +card-cal-btn('TODAY', 'today')
        +card-cal-btn('<', 'prev')
        +card-cal-btn('>', 'next')
      
  .col-xs-2
    +card-btn-primary('date')


block content
  .calendar.col-xs-12(
    calendar='full'
    ng-model='eventSources'
    ui-calendar='calendarConfig'
  )
