mixin header-link(label, key)
  a.btn.btn-xs.btn-link(ng-click="sortBy('#{key}')")
    span.small.upper(translate=label)
    fa(
      name='{{ sort.reverse? "sort-desc" : "sort-asc" }}'
      ng-show="sort.by=='#{key}'"
    )

mixin single-link(label, key)
  a.btn.btn-xs.btn-link(ng-click="sortBy('#{key}')")
    span.small.upper(translate=label)
    fa(
      name='{{ sort.reverse? "sort-desc" : "sort-asc" }}'
      ng-show="sort.by=='#{key}'"
    )

.row(ng-if='isActive("/acciones")')
  .col-xs-2
    +header-link('A.CODE', 'user_key')

  .col-xs-2
    +header-link('A.TOWN', 'admin2')
  
  .col-xs-2
    +header-link('A.ENTITY', 'admin1')

  .col-xs-1
    +header-link('A.POLY', 'polygon')
  
  .col-xs-1
    +header-link('A.BUDGET', 'budget_breakthrough')
  
  .col-xs-1
    +header-link('A.GOALS', 'completed_goals')
  
  .col-xs-1
    +header-link('A.BENEFS', 'total_of_beneficiaries')

  .col-xs-2
    a.btn.btn-xs.btn-link.disabled.wide
      span.small.upper(translate='A.ACTIONS')

.row(ng-if='isActive("/acciones/*")')
  .col-xs-1
  .col-xs-2
    +single-link('A.SUMMARY', 'summary')

  .col-xs-2
    +single-link('A.INVOICES', 'invoices')
  
  .col-xs-2
    +single-link('A.EVIDENCE', 'evidence')

  .col-xs-2
    +single-link('A.CHANGELOG', 'changelog')
  
  .col-xs-2
    +single-link('A.CALENDAR', 'calendar')
  .col-xs-1
