//- Dynamic header (navbar and some table views)


mixin header-link(label, key)
  a.btn.btn-xs.btn-link(ng-click="sortBy('#{key}')")
    span.small.upper(translate=label)
    fa(
      name='{{ sort.reverse? "sort-desc" : "sort-asc" }}'
      ng-show="sort.by=='#{key}'"
    )


mixin single-link(label, target)
  a.btn.btn-xs.btn-link(href="#{target}")
    span.small.upper(translate=label)


.row.hidden(ng-if='isActive("/acciones")')
  .col-xs-2
    +header-link('CODE', 'user_key')

  .col-xs-2
    +header-link('TOWN', 'admin2')
  
  .col-xs-2
    +header-link('ENTITY', 'admin1')

  .col-xs-1
    +header-link('POLY', 'polygon')
  
  .col-xs-1
    +header-link('BUDGET', 'budget_breakthrough')
  
  .col-xs-1
    +header-link('GOALS', 'completed_goals')
  
  .col-xs-1
    +header-link('BENEFS', 'total_of_beneficiaries')

  .col-xs-2
    a.btn.btn-xs.btn-link.disabled.wide
      span.small.upper(translate='ACTIONS')


.row(ng-if='isActive("/acciones/*")')
  .col-xs-1

  .col-xs-2
    +single-link('SUMMARY', '#summary')

  .col-xs-2
    +single-link('CALENDAR', '#calendar')
  
  .col-xs-2
    +single-link('INVOICES', '#invoices')

  .col-xs-2
    +single-link('EVIDENCE', '#evidence')
  
  .col-xs-2
    +single-link('CHANGELOG', '#changelog')

  .col-xs-1
