mixin header-link(label, key)
  a.btn.btn-xs.btn-link(ng-click="sortBy('#{key}')")
    span.small.upper= label
      fa(
        name='{{ sort.reverse? "sort-desc" : "sort-asc" }}'
        ng-show="sort.by=='#{key}'"
      )

.row
  .col-xs-2
    +header-link('Código', 'user_key')

  .col-xs-2
    +header-link('Municipio', 'admin2')
  
  .col-xs-2
    +header-link('Entidad', 'admin1')

  .col-xs-1
    +header-link('Polígono', 'polygon')
  
  .col-xs-1
    +header-link('Presupuesto', 'budget_breakthrough')
  
  .col-xs-1
    +header-link('Metas', 'completed_goals')
  
  .col-xs-1
    +header-link('Beneficiarios', 'total_of_beneficiaries')

  .col-xs-2
    a.btn.btn-xs.btn-link.disabled.wide
      span.small.upper Acciones
