//- Search bar & filters


mixin search-filter(label)
  button.btn.btn-xs.btn-default.dropdown-toggle(
    aria-expanded="false"
    data-toggle="dropdown"
    type="button"
  )
    span(translate=label)
    fa.pull-right(name='caret-down')


//-.row.tools
  .col-xs-12
    button.btn.btn-primary.btn-md(
      ng-click=''
      translate='REPROGRAM'
      type='button'
    )
    button.btn.btn-primary.btn-md(
      ng-click=''
      translate='SEND'
      type='button'
    )


.row.search
  .col-xs-12
    .input-group
      input.form-control(type='text')

      .input-group-btn
        // FIXME missing assignment
        button.btn.btn-default(
          ng-click=''
          type='button'
        ) {{fullSearch? 'FILTER' : 'SEARCH' | translate}}

        button.btn.btn-default(
          ng-click='fullSearch = !fullSearch'
          type='button'
        )
          fa(name='{{ fullSearch? "chevron-up" : "chevron-down" }}')
          span.sr-only


.row.filters(ng-show="fullSearch")
  .col-xs-3
    +search-filter('ENTITY')
    
  .col-xs-3
    +search-filter('TOWN')

  .col-xs-3
    +search-filter('POLY')

  .col-xs-3
    +search-filter('STATUS')
